.account-panel {
    position: sticky;
    top: 10px;
    left: unset;
    height: fit-content;
    background-color: transparent;
}

.back-icon {
    display: none;
}

.account-panel {
    display: none;
}

.no-user-panel {
    color: #bfbfbf;
    font-variant: small-caps;
}

.user-selected .no-user-panel {
    display: none;
}

.user-selected .account-panel {
    display: block;
}

@media (max-width: 575px) {
    .no-user-panel {
        display: none;
    }

    .back-icon {
        display: block;
    }

    .user-selected .user-panel {
        display: none;
    }
}

.user-card {
    cursor: pointer;
}

    .user-card:hover {
        background-color: #eef2f3;
    }

.selected-user {
    background-color: #d8e6e9 !important;
}

    .selected-user .border-bottom {
        border-color: #bfbfbf70 !important;
    }
