@inherits LayoutComponentBase
@implements IInputModal

<NavMenu />

<main class="container">
    <ToastHandler>
        <CascadingValue Value="@((IInputModal)this)">
            @Body
        </CascadingValue>
    </ToastHandler>
</main>

<InputModal @ref="inputModal" />

@code {
    private InputModal? inputModal;

    public Task<string?> Show(string title, string propertyName)
    {
        return inputModal!.Show(title, propertyName);
    }
}
