<nav class="navbar fixed-top navbar-dark bg-dark position-relative">
    <div class="container justify-content-start">
        <a class="navbar-brand logo" href="#">WhiteIT</a>
        <span class="navbar-brand ms-3">User management</span>
    </div>
</nav>

<div class="design-line shadow-sm"></div>
