.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.navbar {
    background: linear-gradient(90deg, rgb(94 145 159) 0%, rgb(95 166 184) 35%, rgb(91 177 195) 100%);
}

.design-line {
    position: relative;
    z-index: 2;
    height: 5px;
    overflow-y: hidden;
    background-color: #b4d1df;
}
